@model IEnumerable<ProjectCostEstimator.Models.TechnologyDefinition>

@{
    ViewBag.Title = "Definicje technologii";
}

<h2>Definicje technologii</h2>

<p>
    @Html.ActionLink("Stwórz nową definicję technologii", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectPriceMultiplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechnologyKind)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectPriceMultiplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechnologyKind)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
